<!-- <p>bienvenida works XXXXXXX</p> -->
<div class="links">
    <p><i class="fa-solid fa-location-dot"></i>Av. Bartolomé Mitre 750, B1870AAU Avellaneda, Provincia de Buenos Aires</p>
</div>

<div class="welcome-container">
    <h1>Bienvenido</h1>
    <img class="logo" src={{gitData.avatar_url}} alt="Logo" name="coco">
    <h1>git login: {{gitData.login}}</h1>
    <h1>git name: {{gitData.name}}</h1>
    <div class="button-container">
        <button class="btn login-btn" (click)="goLogin()">Iniciar Sesión</button>
        <button class="btn register-btn" (click)="goRegistro()">Registrarse</button>
    </div>
</div>

<div class="pie">
    <div class="links">
        <p><i class="fa-solid fa-phone"></i> 4201.4133</p>
        <p><i class="fa-regular fa-clock"></i> Horario: lunes a viernes 09:30 a 19:00 hs.</p>
        <p><i class="fa-regular fa-envelope"></i> utn&#64;fra.com.ar</p>
    </div>
    <div class="links">
        <a class="icons" href="https://github.com/dsvlivon" class="link icons"><i class="fa-brands fa-github"></i> Github</a>
        <a class="icons" href="https://www.linkedin.com/in/dsvlivon" class="link icons"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
        <a class="icons" href="https://www.instagram.com/dani.vizgarra" class="link icons"><i class="fa-brands fa-instagram"></i> Instagram</a>
    </div>
</div>
